$primary-color: #e0172b;
$primary-color-plus: #ff0019;
$secondary-color: rgb(104, 13, 13);
$success-color: #32ba54;
$success-color-hover: #0fa835b9;
$danger-color: #e0172b;
$warning-color: #f5930a;
$info-color: #134ebb;
$white-color: #f0f2f5;
$white-colorP: #ffffff;
$dark-color: #040F0F;
$hover-color: rgb(104, 13, 13); // Choisissez la couleur de votre choix pour le survol
$primary-color-blur: #0808084a;
$gris:  #323131fb;


$paddingAll: 0.5em;
$textSize: 1em;
$bold: 600;
$boldMin: 400;

$cardBoxShadow: 8px 5px 18px 8px rgba(251, 251, 251, 0.1);
$line-top: solid 2px $primary-color;
$boxShadowDown: 0px -18px 20px -6px rgba(95, 94, 94, 0.662);;
$boxShadowUp: 0 5px 10px rgba(95, 94, 94, 0.662);

