{# Wrapper pour centrer les messages flash #}
<div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050; width: auto; max-width: 100%;">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="test alert alert-{{ label }} text-center alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    {{ message|raw }}    
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
